.page {
  max-width: 1280px;
  margin: 0 auto 0;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 1279px) {
  .page {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    max-width: 320px;
  }
}