.popup__close-button {
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-color: transparent;
  background-image: url('../../../images/popup-close-icon.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.8s;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: opacity 0.4s;
}