.profile__add-button {
  padding: 0;
  margin: auto 0 auto 244px;
  width: 150px;
  height: 50px;
  background-color: transparent;
  background-image: url('../../../images/add-button.svg');
  background-position: center;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.8s;
  cursor: pointer;
}

@media screen and (max-width: 1278px) {
  .profile__add-button {
    margin-left: 55px;
  }
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    margin: 36px 0 0;
    background-size: 16px 16px;
  }
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: opacity 0.4s;
}